@font-face {font-family: ST-SimpleSquare; src: url('./fonts/ST-SimpleSquare.otf');} 

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'ST-SimpleSquare', Arial, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.title {
	margin-top: 64px;
    width: 685px;

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
background: linear-gradient(102.39deg, #727272 2.18%, #B1B1B1 20.2%, #E8E8E8 49.6%, #A4A4A4 74.26%, #424242 97.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
filter: drop-shadow(-2px 4px 8.2px #000000) drop-shadow(-11px 10px 15px rgba(0, 0, 0, 0.9)) contrast(1.55);

}

.format-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
	margin-top: 64px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0.8; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 0.2; }
    100% { opacity: 0; }
}

@keyframes hoverFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.format-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 54px;
    background: linear-gradient(90deg, rgba(29, 29, 29, 0.36) 100%, rgba(75, 75, 75, 0.36) 50%, rgba(29, 29, 29, 0.36) 100%); 
    position: relative; 
    border-radius: 4px; 
    transition: all 0.3s ease-out; 
    transform-style: preserve-3d;
}

.format-item::after {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    box-shadow: 0px 0px 10px #60A5CE;
    opacity: 0; 
    pointer-events: none; 
    border-radius: 4px; 
    transition: opacity 0.3s ease-out;
}

.format-item:hover::after {
    animation: fadeIn 0.3s ease-out forwards, hoverFadeOut 2s 2s forwards;
}

.format-item:hover {
    transform: scale(1.07);
}

.format-item:not(:hover)::after {
    animation: fadeOut 1s ease-out forwards;
}

.format-item:not(:hover) {
    transform: scale(1);
}

.format-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.02em;
    background: linear-gradient(102.39deg, #727272 2.18%, #B1B1B1 20.2%, #E8E8E8 49.6%, #A4A4A4 74.26%, #424242 97.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    filter: drop-shadow(-2px 4px 8.2px #000000) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9)) contrast(1.55);
    position: relative;
    z-index: 1;
}

.description-container {
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 177px;
    background: linear-gradient(90deg, rgba(29, 29, 29, 0.36) 0%, rgba(131, 131, 131, 0.36) 50%, rgba(29, 29, 29, 0.36) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 7px 30px #000000;
    backdrop-filter: blur(5px);
}

.description {
    max-width: 1050px;
    text-align: center;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 110%;
color: #CCCCCC;
margin-top: -20px;
}

.try-button {
    position: absolute;
	margin-bottom: -180px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'ST-SimpleSquare', Arial, sans-serif;
}

@media (max-width: 768px) {
    .title {
        width: 90%;
        left: 5%;
        font-size: 24px;
    }

    .format-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .format-item {
        padding: 15px 40px;
        width: 120px;
        height: 40px;
    }

    .format-text {
        font-size: 16px;
    }

    .description-container {
        height: auto;
        top: auto;
        bottom: 100px;
    }
}